*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  margin: auto;
  overflow: hidden;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: end;
  gap: 30px;
  margin: 0 auto;
  padding: 133px 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form .button {
  align-self: end;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
}

.content__list {
  position: relative;
  overflow: auto;
  block-size: 298px;
}

.result__video-container {
  position: relative;
  margin-block-end: 16px;
  overflow: hidden;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid #FFF;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  inline-size: 194px;
  block-size: 103px;
}

.content__video-card-description-container {
  inline-size: 50%;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset-title {
  margin-block-end: 6px;
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.2;
}

.title {
  margin-block-end: 28px;
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  margin: 3px;
  color: #FFF;
  text-decoration: none;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;  
}

.content__video-card-description {
  margin-block-start: 6px;
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 0.90;
}

.search-form__fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  inline-size: fit-content;
}

.search-form__textfield {
  border: none;
  padding: 2.5px 14px 2.5px 0;
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.2;
  background-color: transparent;
  inline-size: 225px;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.70);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.2;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:hover .search-form__label-text {
  border-block-end: 1px solid #fff;
  cursor: pointer;
}

.search-form__label:has(.search-form__textfield) {
  border-block-start: 1px solid #FFF;
  border-block-end: 1px solid #FFF;
}

.search-form__label {
  display: flex;
  gap: 5px;
  cursor: pointer;
  inline-size: fit-content;
}

.search-form__label:has(:focus-visible){
  outline: 1px solid #fff;
  outline-offset: 2px;
}


.search-form__pseudo-checkbox {
  content: '';
  display: flex;
  margin-block-start: 2px;
  border: 1px solid #FFF;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__checkbox[type='checkbox']:checked + .search-form__pseudo-checkbox::before {
  content: '';
  align-items: center;
  width: 100%;
  border: 1px solid #000;
  background-color: #fff;
}

.button {
  display: block;
  border: 0;
  border: 1px solid #fff;
  padding: 0;
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 1.2;
  background-color: transparent;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  padding: 6px 73.5px;
}

.more-button {
  margin: 1px auto;
  padding: 6px 143.4px;
}